.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
.link__tuwaX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-HWIr18gEO70h);
  font-size: 24px;
  font-weight: 700;
  padding-right: 0px;
  margin-right: 0px;
}
.root .link__tuwaX:hover {
  color: var(--token-hGNTiuQW9XAe);
}
.img___1IGtR {
  object-fit: cover;
}
.img___1IGtR > picture > img {
  object-fit: cover;
}
.img__ugnt8 {
  object-fit: cover;
}
.img__ugnt8 > picture > img {
  object-fit: cover;
}
.link__pVPeX {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__pVPeX:hover {
  color: var(--token-hGNTiuQW9XAe);
}
.link__uo8Gc {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__uo8Gc:hover {
  color: var(--token-hGNTiuQW9XAe);
}
.link___8Fe1F {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___8Fe1F:hover {
  color: var(--token-hGNTiuQW9XAe);
}
.link___5Nzrq {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___5Nzrq:hover {
  color: var(--token-hGNTiuQW9XAe);
}
