@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-ZBvrasZpTiME: 1280px;
  --plasmic-token-inner-container: var(--token-ZBvrasZpTiME);
  --token-6SNI6_zTGsOJ: 1px;
  --plasmic-token-unnamed-style-token: var(--token-6SNI6_zTGsOJ);
  --token-F8b_lorTH_To: #d1387c;
  --plasmic-token-pink: var(--token-F8b_lorTH_To);
  --token-hGNTiuQW9XAe: #b3294d;
  --plasmic-token-red: var(--token-hGNTiuQW9XAe);
  --token-HWIr18gEO70h: #1d1d21;
  --plasmic-token-black: var(--token-HWIr18gEO70h);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-r2Ew8tkjgO-Z_font-family: "Inter", sans-serif;
  --mixin-r2Ew8tkjgO-Z_font-size: 16px;
  --mixin-r2Ew8tkjgO-Z_font-weight: 400;
  --mixin-r2Ew8tkjgO-Z_font-style: normal;
  --mixin-r2Ew8tkjgO-Z_color: #4f4f4f;
  --mixin-r2Ew8tkjgO-Z_text-align: left;
  --mixin-r2Ew8tkjgO-Z_text-transform: none;
  --mixin-r2Ew8tkjgO-Z_line-height: 1.5;
  --mixin-r2Ew8tkjgO-Z_letter-spacing: normal;
  --mixin-r2Ew8tkjgO-Z_white-space: pre-wrap;
  --mixin-r2Ew8tkjgO-Z_user-select: text;
  --mixin-r2Ew8tkjgO-Z_text-decoration-line: none;
  --mixin-r2Ew8tkjgO-Z_text-overflow: clip;
  --mixin-dBvcTVpJP427_color: #4f4f4f;
  --mixin-dBvcTVpJP427_font-weight: 900;
  --mixin-dBvcTVpJP427_font-size: 72px;
  --mixin-dBvcTVpJP427_line-height: 1;
  --mixin-dBvcTVpJP427_letter-spacing: -4px;
  --mixin-dBvcTVpJP427_font-family: "Inter", sans-serif;
  --mixin-dBvcTVpJP427_white-space: pre-wrap;
  --mixin-DjQrPBGTjzhn_color: #4f4f4f;
  --mixin-DjQrPBGTjzhn_font-size: 50px;
  --mixin-DjQrPBGTjzhn_font-weight: 700;
  --mixin-DjQrPBGTjzhn_letter-spacing: -1px;
  --mixin-DjQrPBGTjzhn_line-height: 1.1;
  --mixin-DjQrPBGTjzhn_font-family: "Inter", sans-serif;
  --mixin-DjQrPBGTjzhn_white-space: pre-wrap;
  --mixin-rSFiHDfGnW2S_color: #0070f3;
  --mixin-rSFiHDfGnW2S_white-space: pre-wrap;
  --mixin-oYBdw-zRi25l_color: #4f4f4f;
  --mixin-oYBdw-zRi25l_font-size: 32px;
  --mixin-oYBdw-zRi25l_font-weight: 700;
  --mixin-oYBdw-zRi25l_letter-spacing: -0.8px;
  --mixin-oYBdw-zRi25l_line-height: 1.2;
  --mixin-oYBdw-zRi25l_font-family: "Inter", sans-serif;
  --mixin-oYBdw-zRi25l_white-space: pre-wrap;
  --mixin-7mD129__aDOq_color: #000000;
  --mixin-7mD129__aDOq_font-size: 24px;
  --mixin-7mD129__aDOq_font-weight: 600;
  --mixin-7mD129__aDOq_letter-spacing: -0.5px;
  --mixin-7mD129__aDOq_line-height: 1.3;
  --mixin-7mD129__aDOq_white-space: pre-wrap;
  --mixin-myslTgJ5ep1l_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-myslTgJ5ep1l_border-bottom-color: #dddddd;
  --mixin-myslTgJ5ep1l_border-bottom-style: solid;
  --mixin-myslTgJ5ep1l_border-bottom-width: 1px;
  --mixin-myslTgJ5ep1l_border-left-color: #dddddd;
  --mixin-myslTgJ5ep1l_border-left-style: solid;
  --mixin-myslTgJ5ep1l_border-left-width: 1px;
  --mixin-myslTgJ5ep1l_border-right-color: #dddddd;
  --mixin-myslTgJ5ep1l_border-right-style: solid;
  --mixin-myslTgJ5ep1l_border-right-width: 1px;
  --mixin-myslTgJ5ep1l_border-top-color: #dddddd;
  --mixin-myslTgJ5ep1l_border-top-style: solid;
  --mixin-myslTgJ5ep1l_border-top-width: 1px;
  --mixin-myslTgJ5ep1l_border-bottom-left-radius: 3px;
  --mixin-myslTgJ5ep1l_border-bottom-right-radius: 3px;
  --mixin-myslTgJ5ep1l_border-top-left-radius: 3px;
  --mixin-myslTgJ5ep1l_border-top-right-radius: 3px;
  --mixin-myslTgJ5ep1l_font-family: "Inconsolata";
  --mixin-myslTgJ5ep1l_padding-bottom: 1px;
  --mixin-myslTgJ5ep1l_padding-left: 4px;
  --mixin-myslTgJ5ep1l_padding-right: 4px;
  --mixin-myslTgJ5ep1l_padding-top: 1px;
  --mixin-myslTgJ5ep1l_white-space: pre-wrap;
  --mixin--7uJuTt39hru_border-left-color: #dddddd;
  --mixin--7uJuTt39hru_border-left-style: solid;
  --mixin--7uJuTt39hru_border-left-width: 3px;
  --mixin--7uJuTt39hru_color: #888888;
  --mixin--7uJuTt39hru_padding-left: 10px;
  --mixin--7uJuTt39hru_white-space: pre-wrap;
  --mixin-ox5M_vVJfnAy_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ox5M_vVJfnAy_border-bottom-color: #dddddd;
  --mixin-ox5M_vVJfnAy_border-bottom-style: solid;
  --mixin-ox5M_vVJfnAy_border-bottom-width: 1px;
  --mixin-ox5M_vVJfnAy_border-left-color: #dddddd;
  --mixin-ox5M_vVJfnAy_border-left-style: solid;
  --mixin-ox5M_vVJfnAy_border-left-width: 1px;
  --mixin-ox5M_vVJfnAy_border-right-color: #dddddd;
  --mixin-ox5M_vVJfnAy_border-right-style: solid;
  --mixin-ox5M_vVJfnAy_border-right-width: 1px;
  --mixin-ox5M_vVJfnAy_border-top-color: #dddddd;
  --mixin-ox5M_vVJfnAy_border-top-style: solid;
  --mixin-ox5M_vVJfnAy_border-top-width: 1px;
  --mixin-ox5M_vVJfnAy_border-bottom-left-radius: 3px;
  --mixin-ox5M_vVJfnAy_border-bottom-right-radius: 3px;
  --mixin-ox5M_vVJfnAy_border-top-left-radius: 3px;
  --mixin-ox5M_vVJfnAy_border-top-right-radius: 3px;
  --mixin-ox5M_vVJfnAy_font-family: "Inconsolata";
  --mixin-ox5M_vVJfnAy_padding-bottom: 3px;
  --mixin-ox5M_vVJfnAy_padding-left: 6px;
  --mixin-ox5M_vVJfnAy_padding-right: 6px;
  --mixin-ox5M_vVJfnAy_padding-top: 3px;
  --mixin-ox5M_vVJfnAy_white-space: pre-wrap;
  --mixin-lRdyvmz-SI00_display: flex;
  --mixin-lRdyvmz-SI00_flex-direction: column;
  --mixin-lRdyvmz-SI00_align-items: stretch;
  --mixin-lRdyvmz-SI00_justify-content: flex-start;
  --mixin-lRdyvmz-SI00_list-style-position: outside;
  --mixin-lRdyvmz-SI00_padding-left: 40px;
  --mixin-lRdyvmz-SI00_position: relative;
  --mixin-lRdyvmz-SI00_list-style-type: disc;
  --mixin-lRdyvmz-SI00_white-space: pre-wrap;
  --mixin-ujR3qR9TjG_z_display: flex;
  --mixin-ujR3qR9TjG_z_flex-direction: column;
  --mixin-ujR3qR9TjG_z_align-items: stretch;
  --mixin-ujR3qR9TjG_z_justify-content: flex-start;
  --mixin-ujR3qR9TjG_z_list-style-position: outside;
  --mixin-ujR3qR9TjG_z_padding-left: 40px;
  --mixin-ujR3qR9TjG_z_position: relative;
  --mixin-ujR3qR9TjG_z_list-style-type: decimal;
  --mixin-ujR3qR9TjG_z_white-space: pre-wrap;
  --mixin-me7PaU4z9xE6_color: #000000;
  --mixin-me7PaU4z9xE6_font-size: 20px;
  --mixin-me7PaU4z9xE6_font-weight: 600;
  --mixin-me7PaU4z9xE6_letter-spacing: -0.3px;
  --mixin-me7PaU4z9xE6_line-height: 1.5;
  --mixin-me7PaU4z9xE6_white-space: pre-wrap;
  --mixin-X_1GTbeNQz1C_color: #000000;
  --mixin-X_1GTbeNQz1C_font-size: 16px;
  --mixin-X_1GTbeNQz1C_font-weight: 600;
  --mixin-X_1GTbeNQz1C_line-height: 1.5;
  --mixin-X_1GTbeNQz1C_white-space: pre-wrap;
  --mixin-oU3N5U7Bd13d_color: #3291ff;
  --mixin-oU3N5U7Bd13d_white-space: pre-wrap;
  --mixin-z-5wbkk7nEc9_white-space: pre-wrap;
  --mixin-8VWygCbScYN0_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-wPMClMI3FbUY_white-space: pre-wrap;
  --plasmic-mixin-nav-menu_white-space: var(--mixin-wPMClMI3FbUY_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-r2Ew8tkjgO-Z_font-family);
  font-size: var(--mixin-r2Ew8tkjgO-Z_font-size);
  font-weight: var(--mixin-r2Ew8tkjgO-Z_font-weight);
  font-style: var(--mixin-r2Ew8tkjgO-Z_font-style);
  color: var(--mixin-r2Ew8tkjgO-Z_color);
  text-align: var(--mixin-r2Ew8tkjgO-Z_text-align);
  text-transform: var(--mixin-r2Ew8tkjgO-Z_text-transform);
  line-height: var(--mixin-r2Ew8tkjgO-Z_line-height);
  letter-spacing: var(--mixin-r2Ew8tkjgO-Z_letter-spacing);
  white-space: var(--mixin-r2Ew8tkjgO-Z_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-dBvcTVpJP427_color);
  font-weight: var(--mixin-dBvcTVpJP427_font-weight);
  font-size: var(--mixin-dBvcTVpJP427_font-size);
  line-height: var(--mixin-dBvcTVpJP427_line-height);
  letter-spacing: var(--mixin-dBvcTVpJP427_letter-spacing);
  font-family: var(--mixin-dBvcTVpJP427_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-DjQrPBGTjzhn_color);
  font-size: var(--mixin-DjQrPBGTjzhn_font-size);
  font-weight: var(--mixin-DjQrPBGTjzhn_font-weight);
  letter-spacing: var(--mixin-DjQrPBGTjzhn_letter-spacing);
  line-height: var(--mixin-DjQrPBGTjzhn_line-height);
  font-family: var(--mixin-DjQrPBGTjzhn_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-rSFiHDfGnW2S_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-oYBdw-zRi25l_color);
  font-size: var(--mixin-oYBdw-zRi25l_font-size);
  font-weight: var(--mixin-oYBdw-zRi25l_font-weight);
  letter-spacing: var(--mixin-oYBdw-zRi25l_letter-spacing);
  line-height: var(--mixin-oYBdw-zRi25l_line-height);
  font-family: var(--mixin-oYBdw-zRi25l_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-7mD129__aDOq_color);
  font-size: var(--mixin-7mD129__aDOq_font-size);
  font-weight: var(--mixin-7mD129__aDOq_font-weight);
  letter-spacing: var(--mixin-7mD129__aDOq_letter-spacing);
  line-height: var(--mixin-7mD129__aDOq_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-myslTgJ5ep1l_font-family);
  border-radius: var(--mixin-myslTgJ5ep1l_border-top-left-radius)
    var(--mixin-myslTgJ5ep1l_border-top-right-radius)
    var(--mixin-myslTgJ5ep1l_border-bottom-right-radius)
    var(--mixin-myslTgJ5ep1l_border-bottom-left-radius);
  padding: var(--mixin-myslTgJ5ep1l_padding-top)
    var(--mixin-myslTgJ5ep1l_padding-right)
    var(--mixin-myslTgJ5ep1l_padding-bottom)
    var(--mixin-myslTgJ5ep1l_padding-left);
  border-top: var(--mixin-myslTgJ5ep1l_border-top-width)
    var(--mixin-myslTgJ5ep1l_border-top-style)
    var(--mixin-myslTgJ5ep1l_border-top-color);
  border-right: var(--mixin-myslTgJ5ep1l_border-right-width)
    var(--mixin-myslTgJ5ep1l_border-right-style)
    var(--mixin-myslTgJ5ep1l_border-right-color);
  border-bottom: var(--mixin-myslTgJ5ep1l_border-bottom-width)
    var(--mixin-myslTgJ5ep1l_border-bottom-style)
    var(--mixin-myslTgJ5ep1l_border-bottom-color);
  border-left: var(--mixin-myslTgJ5ep1l_border-left-width)
    var(--mixin-myslTgJ5ep1l_border-left-style)
    var(--mixin-myslTgJ5ep1l_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin--7uJuTt39hru_color);
  padding-left: var(--mixin--7uJuTt39hru_padding-left);
  border-left: var(--mixin--7uJuTt39hru_border-left-width)
    var(--mixin--7uJuTt39hru_border-left-style)
    var(--mixin--7uJuTt39hru_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ox5M_vVJfnAy_font-family);
  border-radius: var(--mixin-ox5M_vVJfnAy_border-top-left-radius)
    var(--mixin-ox5M_vVJfnAy_border-top-right-radius)
    var(--mixin-ox5M_vVJfnAy_border-bottom-right-radius)
    var(--mixin-ox5M_vVJfnAy_border-bottom-left-radius);
  padding: var(--mixin-ox5M_vVJfnAy_padding-top)
    var(--mixin-ox5M_vVJfnAy_padding-right)
    var(--mixin-ox5M_vVJfnAy_padding-bottom)
    var(--mixin-ox5M_vVJfnAy_padding-left);
  border-top: var(--mixin-ox5M_vVJfnAy_border-top-width)
    var(--mixin-ox5M_vVJfnAy_border-top-style)
    var(--mixin-ox5M_vVJfnAy_border-top-color);
  border-right: var(--mixin-ox5M_vVJfnAy_border-right-width)
    var(--mixin-ox5M_vVJfnAy_border-right-style)
    var(--mixin-ox5M_vVJfnAy_border-right-color);
  border-bottom: var(--mixin-ox5M_vVJfnAy_border-bottom-width)
    var(--mixin-ox5M_vVJfnAy_border-bottom-style)
    var(--mixin-ox5M_vVJfnAy_border-bottom-color);
  border-left: var(--mixin-ox5M_vVJfnAy_border-left-width)
    var(--mixin-ox5M_vVJfnAy_border-left-style)
    var(--mixin-ox5M_vVJfnAy_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-lRdyvmz-SI00_display);
  flex-direction: var(--mixin-lRdyvmz-SI00_flex-direction);
  align-items: var(--mixin-lRdyvmz-SI00_align-items);
  justify-content: var(--mixin-lRdyvmz-SI00_justify-content);
  list-style-position: var(--mixin-lRdyvmz-SI00_list-style-position);
  padding-left: var(--mixin-lRdyvmz-SI00_padding-left);
  position: var(--mixin-lRdyvmz-SI00_position);
  list-style-type: var(--mixin-lRdyvmz-SI00_list-style-type);
  flex-column-gap: var(--mixin-lRdyvmz-SI00_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ujR3qR9TjG_z_display);
  flex-direction: var(--mixin-ujR3qR9TjG_z_flex-direction);
  align-items: var(--mixin-ujR3qR9TjG_z_align-items);
  justify-content: var(--mixin-ujR3qR9TjG_z_justify-content);
  list-style-position: var(--mixin-ujR3qR9TjG_z_list-style-position);
  padding-left: var(--mixin-ujR3qR9TjG_z_padding-left);
  position: var(--mixin-ujR3qR9TjG_z_position);
  list-style-type: var(--mixin-ujR3qR9TjG_z_list-style-type);
  flex-column-gap: var(--mixin-ujR3qR9TjG_z_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-me7PaU4z9xE6_color);
  font-size: var(--mixin-me7PaU4z9xE6_font-size);
  font-weight: var(--mixin-me7PaU4z9xE6_font-weight);
  letter-spacing: var(--mixin-me7PaU4z9xE6_letter-spacing);
  line-height: var(--mixin-me7PaU4z9xE6_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-X_1GTbeNQz1C_color);
  font-size: var(--mixin-X_1GTbeNQz1C_font-size);
  font-weight: var(--mixin-X_1GTbeNQz1C_font-weight);
  line-height: var(--mixin-X_1GTbeNQz1C_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-oU3N5U7Bd13d_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
